{% extends "layout.html" %}
{% block body %}
<script type=text/javascript src="{{ url_for('static', filename='jquery.flot.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery.flot.selection.js') }}"></script>
<script type=text/javascript>

  var Sources = 
  [{% for source in sources %}
    {
      "name" : "{{source}}" 
    }, {% endfor %}
];

$(document).ready(function(){ listSources(); updateSources(); });

function listSources() {
  var plotrows = '';
  plotrows += '<table>';
  for(source in Sources) {
    var sourcename = Sources[source].name;
    plotrows += '<tr>';
    plotrows += ' <td>';
    if(sourcename == "temperature" || sourcename == "humidity" || sourcename == "light")
      plotrows += "<img src=\"/static/"+sourcename+"_icon.svg\"/ style=\"height:30px;\"\>";
    plotrows += ' <h4>' + sourcename+'</h4>';
    plotrows += ' <div id="currval_'+sourcename+'"></div>';
    plotrows += ' </td>';
    plotrows += ' <td>';
    plotrows += '  <div id="plot_'+sourcename+'" style="width:600px;height:150px;"></div>';
    plotrows += ' </td>';
    plotrows += ' <td>';
    plotrows += '  <div id="plot_'+sourcename+'_overview" style="width:200px;height:100px;"></div>';
    plotrows += ' </td>';
    plotrows += '</tr>';
  }
  plotrows += '</tables>';
  $("#plots").html(plotrows);

  for(source in Sources) {
    var sourcename = Sources[source].name;
    var sourcedata = [];
    var overview = $.plot($("#plot_"+sourcename+"_overview"), [
      {
        data: sourcedata,
        lines: {show: true, fill: true},
        shadowSize: 0,
        selection: {mode:"x"}
      }], {xaxis: {mode: "time"}});
  }
}

function updateData(_hwid, _sourcename, _start, _end, _resolution)
{
  data = []
  $.getJSON($SCRIPT_ROOT + '/_getdata', 
      {
        hwid       : _hwid,
        source     : _sourcename,
        start      : _start,
        end        : _end,
        resolution : _resolution
      },
      function(data) {

        var datastream = data.data;

        // Update the plot
        $.plot($("#plot_"+_sourcename), [
        {
          data: datastream,
          lines: {show: true, fill: true},
          shadowSize: 0                         
        }], {xaxis: {mode: "time"}});

        // Update the current value
        var currval = "N/A";
        if(datastream.length > 0) 
          currval = datastream[datastream.length-1][1];
        $("#currval_"+_sourcename).html(currval);
      });
}

function updateSources() {
  var requests = [];
  for(var sidx=0; sidx<Sources.length; ++sidx)
  {
    var sourcename = Sources[sidx]["name"];

    updateData("{{hwid}}", sourcename, -60, "N", 1);
  }

  setTimeout("updateSources()", 1000);
}

</script>

<div class="page-header">
  <h1>Device : {{ hwid }}</h1>
  <a href="{{ url_for('myceres') }}">&lt;&lt; back</a>
</div>  
<div id="plots"></div>

{% endblock %}

