{% extends "layout.html" %}
{% block body %}
<script type=text/javascript src="{{ url_for('static', filename='jquery.flot.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery.flot.selection.js') }}"></script>
<script type=text/javascript>
  var initialized = 0;
  $(function () { updatePlot(); });

  function updatePlot() {
    $.getJSON($SCRIPT_ROOT + '/_getdata', {"hwid": "{{ hwid }}"}, function(result) {

        var datastreams = result.data.datastreams;

        // Create the plot divs
        if(initialized == 0)
        {
          var plotrows = '';
          plotrows += '<table>';
          for(name in datastreams)
          {
            plotrows += '<tr>';
            plotrows += ' <td>';
              if(name == "temperature" || name == "humidity" || name == "light")
                plotrows += "<img src=\"/static/"+name+"_icon.svg\"/ style=\"height:30px;\"\>";
                plotrows += " <h4>" + name+"</h4>";
            plotrows += ' </td>';
            plotrows += ' <td>';
            plotrows += '  <div id="plot_'+name+'" style="width:600px;height:150px;"></div>';
            plotrows += ' </td>';
            plotrows += '</tr>';



            //plotdivs += "<hr/>";
            //plotdivs += "<p style=\"font-size:20pt;\">";
            //if(name == "temperature" || name == "humidity" || name == "light")
            //  plotdivs += "<img src=\"/static/"+name+"_icon.svg\"/ style=\"height:20px;\"\>";
            //plotdivs += " " + name+"</p>";
            //plotdivs += "<div id=\""+name+"\" style=\"width:600px;height:150px;\"></div>";
          }
          plotrows += '</tables>';
          $("#plots").html(plotrows)
        }
        initialized = 1;

        // Plot all that data
        for(name in datastreams)
        {
          var datastream = datastreams[name];
          $.plot($("#plot_"+name), [
              {
                data: datastream,
                lines: {show: true, fill: true},
                shadowSize: 0
                }], {xaxis: {mode: "time"}});
              
        }
  
        });
  
    // Update once per second
    setTimeout("updatePlot()", 1000);
  }


</script>

<div class="page-header"><h1>Device : {{ hwid }}</h1>
  <a href="{{ url_for('myceres') }}">&lt;&lt; back</a>
</div>  

<div id="plots"></div>

{% endblock %}

