{% extends "layout.html" %}
{% block body %}
<script type=text/javascript src="{{ url_for('static', filename='jquery.flot.js') }}"></script>
<script type=text/javascript>

  var Sources = 
  {
   {% for source in sources %}
   {{source}} : { updater : null, avg : [], min : [], max : [], resolution : null }, 
   {% endfor %}
  };
    
$(document).ready(function(){
  var plotrows = '';
  plotrows += '<table>';
  for(sourcename in Sources) {
    plotrows += '<tr>';
    plotrows += ' <td>';
    if(sourcename == "temperature" || sourcename == "humidity" || sourcename == "light")
      plotrows += "<img src=\"/static/"+sourcename+"_icon.svg\"/ style=\"height:30px;\"\>";
    plotrows += ' <h4>' + sourcename+'</h4>';
    plotrows += ' </td>';
    plotrows += ' <td>';
    plotrows += '  <div id="plot_'+sourcename+'" style="width:500px;height:150px;"></div>';
    plotrows += ' </td>';
    plotrows += ' <td>';
    plotrows += ' <p><div class="well" style="height:20px; width:30px; padding:50px; font-size:30px;" id="currval_'+sourcename+'"></div></p>';
    plotrows += ' </td>';
    plotrows += ' <td>';
    plotrows += buildTimeSelector(sourcename);
    plotrows += ' </td>';
    plotrows += '</tr>';
  }
  plotrows += '</tables>';
  $("#plots").html(plotrows);

  for(sourcename in Sources)
    selectTime(null, sourcename);

  updateCurrents();
  setInterval("updateCurrents()", 1000);
});

function updateCurrents()
{

  $.getJSON($SCRIPT_ROOT + '/_getstatus', {"hwids":"{{hwid}}"}, function(result) {
      var online = result.data["{{hwid}}"]['online'];
      var stat = result.data["{{hwid}}"]['values'];

      for(sourcename in stat)
      {
        var value = "-";
        if(online) value = stat[sourcename]['avg'];
        $("#currval_"+sourcename).html('<center>'+value+'</center>');
      }
    });
}

function getStartFromResolution(resolution)
{
  resolution = String(resolution);
  switch(resolution)
  {
    case "1":    return -60;
    case "1800": return -86400;
    case "3600": return -604800;
  }
  return null;
}

function selectTime(ctx, sourcename)
{
  var val = $('#timeselect_'+sourcename).val();

  var start = "";
  switch(val)
  {
    case "minute":
      resolution = "1";
      break;
    case "day":
      resolution = "1800";
      break;
    case "week":
      resolution = "3600";
      break;
    default: return;
  }

  start = String(getStartFromResolution(resolution));

  Sources[sourcename].resolution = resolution;
  Sources[sourcename].avg = [];
  Sources[sourcename].min = [];
  Sources[sourcename].max = [];

  if(Sources[sourcename].updater != null)
    clearInterval(Sources[sourcename].updater);

  getWholeGraph({{hwid}}, sourcename, start, "N", resolution);

  Sources[sourcename].updater = setInterval(
      "maintainGraph('{{hwid}}', '"+sourcename+"', '"+resolution+"')",
      resolution*1000);
}

function buildTimeSelector(sourcename)
{
  var _ = '';
  _+= '<select class="small" id="timeselect_'+sourcename+'" onchange="selectTime(this.id, \''+sourcename+'\')">';
  _+= '<option value="minute">1 minute</option>';
  _+= '<option value="day">1 day</option>';
  _+= '<option value="week">1 week</option>';
  _+= '</select>';

  return _;
}

function plotGraph(_sourcename)
{
  if(String(Sources[_sourcename].resolution) == "1")
  {
    $.plot($("#plot_"+_sourcename), [
    {
      data: Sources[_sourcename].avg,
      lines: {show: true, fill: true},
      shadowSize: 0                         
    }], {xaxis: {mode: "time"}});
  }
  else
  {

  //var dataset = [
  //     { data: Sources[_sourcename].min, id: "foo" } ,         // use default bottom
  //     { data: Sources[_sourcename].max, fillBetween: "foo" }, // use first dataset as bottom
  //     ];
  //$.plot($("#plot_"+_sourcename), dataset, { line: { show: true, fill: true }});

    var minmaxdata = [];
    for(var i=0; i<Sources[_sourcename].min.length; i++)
    {
      minmaxdata.push([Sources[_sourcename].min[i][0], Sources[_sourcename].min[i][1], Sources[_sourcename].max[i][1]]); 
    }

    var dataset = [
    { data : minmaxdata, lines : { fill: true, lineWidth: 0} },
    { data : Sources[_sourcename].avg }
      ];
      $.plot($("#plot_"+_sourcename), dataset, 
          { xaxis : { mode : "time" } } );
  }
}

function getWholeGraph(_hwid, _sourcename, _start, _end, _resolution)
{
  $.getJSON($SCRIPT_ROOT + '/_getdata', 
      {
        hwid       : _hwid,
        source     : _sourcename,
        start      : _start,
        end        : _end,
        resolution : _resolution
      },
      function(data) {

        Sources[_sourcename].avg = data.data['avg'];
        Sources[_sourcename].min = data.data['min'];
        Sources[_sourcename].max = data.data['max'];

        plotGraph(_sourcename);
     });
}

function plotMaintenance(_data, _sourcename, _resolution)
{ 
  var avgdata = _data.data['avg'];
  var start = getStartFromResolution(_resolution);
  var starttime = Sources[_sourcename].avg[Sources[_sourcename].avg.length-1][0] + start*1000;

  Sources[_sourcename].avg = Sources[_sourcename].avg.concat(avgdata);
  while(Sources[_sourcename].avg.length > 0 && Sources[_sourcename].avg[0][0] < starttime)
    Sources[_sourcename].avg = Sources[_sourcename].avg.slice(1);

  if(_resolution > 1)
  {
    Sources[_sourcename].min = Sources[_sourcename].min.concat(mindata);
    while(Sources[_sourcename].min.length > 0 && Sources[_sourcename].min[0][0] < starttime)
      Sources[_sourcename].min = Sources[_sourcename].min.slice(1);

    Sources[_sourcename].max = Sources[_sourcename].max.concat(maxdata);
    while(Sources[_sourcename].max.length > 0 && Sources[_sourcename].max[0][0] < starttime)
      Sources[_sourcename].max = Sources[_sourcename].max.slice(1);
  }

  plotGraph(_sourcename);
}

function maintainGraph(_hwid, _sourcename, _resolution)
{
  var start = getStartFromResolution(_resolution);

  var lastupdate = null;

  if(Sources[_sourcename].avg.length == 0)
    lastupdate = start;
  else
    for(var i=Sources[_sourcename].avg.length-1; i>=0; i--)
    {
      if(Sources[_sourcename].avg[i][1] != null)
      {
        lastupdate = Sources[_sourcename].avg[i][0]/1000;
        break;
      }
    }
    if(lastupdate == null) lastupdate = start;

  $.getJSON($SCRIPT_ROOT + '/_getdata', 
      {
        hwid       : _hwid,
        source     : _sourcename,
        start      : lastupdate,
        end        : 'N',
        resolution : _resolution
      },
      function(data) { plotMaintenance(data, _sourcename, _resolution) }
      );
}


</script>

<div class="page-header">
  <h1>Device : {{ hwid }}</h1>
  <a href="{{ url_for('myceres') }}">&lt;&lt; back</a>
</div>  
<div id="plots"></div>

{% endblock %}

