{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
  $(function () {

      updatePlot();

      //var d1 = [];
      //for (var i = 0; i < 14; i += 0.5)
      //d1.push([i, Math.sin(i)]);

      //var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];

      //// a null signifies separate line segments
      //var d3 = [[0, 12], [7, 12],  [7, 2.5], [12, 2.5]];

      //$.plot($("#plot"), [ d1, d2, d3 ]);
   });

function updatePlot() {
  $.getJSON($SCRIPT_ROOT + '/_getdata', {
        hwid: {{ hwid }}}
        , function(result) {

        var len = result.data.length;
        $("#test").append('Data...' + len + '<br>');
        for(var i=0; i<len; i++)
        {
          $("#test").append('> ' + result.data[i][0] + ' ' + result.data[i][1] + '<br/>');
        }


      });



  //setTimeout("updatePlot()", 300);
}




  //$(function() {

  //  $('a#calculate').bind('click', function() {
  //      //    return false;
  //  });
  //});

</script>

<p><span id=result>?</span>

<div id="test"> </div>
<div id="plot" style="width:600px;height:300px;"></div>

{% endblock %}
