<!doctype html>
{% extends "layout.html" %}
{% block body %}

<script type=text/javascript>

  $(document).ready(function(){ updateStatus(); });

  function updateStatus()
  {
    var statusRequest = "";
    {% for device in devices %}
      statusRequest += "{{ device }},"; 
    {% endfor %}

    $.getJSON($SCRIPT_ROOT + '/_getstatus', {"hwids":statusRequest}, function(result) {
        var statii = result.data;
        var hwid = "";
        var time = 0;
        {% for device in devices %}

        hwid = "{{ device }}";
        if(statii[hwid]['online'])
        {
          $("#{{ device }}_status").html('<span class="label success">ONLINE</span>');

          $("#{{ device }}_temperature").html(
            '<p>'+
              statii[hwid]['values']['temperature']['avg'] + '&deg; F ' + 
              '<small>'+ 
                statii[hwid]['values']['temperature']['min'] + ' / ' + statii[hwid]['values']['temperature']['max'] + 
              '</small>'+
            '</p>'
            );

          $("#{{ device }}_humidity").html(
            '<p>'+
              statii[hwid]['values']['humidity']['avg'] + ' ' + 
              '<small>'+ 
                statii[hwid]['values']['humidity']['min'] + ' / ' + statii[hwid]['values']['humidity']['max'] + 
              '</small>'+
            '</p>'
            );

          $("#{{ device }}_light").html(
            '<p>'+
              statii[hwid]['values']['light']['avg'] + ' ' +
              '<small>'+ 
                statii[hwid]['values']['light']['min'] + ' / ' + statii[hwid]['values']['light']['max'] + 
              '</small>'+
            '</p>'
            );
        }
        else
        {
          $("#{{ device }}_status").html('<span class="label important">OFFLINE</span>');
        }


        time = statii[hwid]['time'];
        timemsg = '';
        if(time < 60) timemsg = time + ' seconds ago';
        else if(time < 3600)   timemsg = Math.round(time/60)    + ' minutes ago';
        else if(time < 86400)  timemsg = Math.round(time/3600)  + ' hours ago';
        else timemsg = Math.round(time/86400) + ' days ago';

        $("#{{ device }}_lastupdate").html(timemsg);

        {% endfor %}
        });

    setTimeout("updateStatus()", 1000);
  };
  
</script>

<h1>Hello, {{ username }}</h1>

<h3>Your Devices</h3>
<table class="zebra-striped">
  <thead>
  </thead>
  <tr>
    <th>Device</th>
    <th>Temperature</th>
    <th>Humidity</th>
    <th>Light</th>
    <th>Status</th>
    <th>Last Contact</th>
  </tr>
  <tbody>
    {% for device in devices %}
    <tr>
      <td> <a href="{{ url_for('devices', hwid=device) }}">{{ device }}</a> </td>
      <td><span id="{{ device }}_temperature">...</span></td>
      <td><span id="{{ device }}_humidity">...</span></td>
      <td><span id="{{ device }}_light">...</span></td>
      <td><span id="{{ device }}_status">...</span></td>
      <td><span id="{{ device }}_lastupdate">...</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

